.moviedetails {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  color: white;
  
}
.moviedetails img {
  max-width: 500px;
}

.vote {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
