.moviedetails {
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
}
.moviedetails img {
  max-width: 500px;
}

.vote {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
