@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap%27');


*{
  margin: 0;
  box-sizing: border-box;
}

body {
  
  color: white;
  margin:0;
  font-family: 'Roboto Slab', sans-serif;
}
.container{
  max-width: 1300px;
  margin: 0 auto
}
.Wrapper{
  background-color: #22254b;
}

header{
  background-color: #373b69;
  padding: 1rem;
  justify-content: space-between;
  display: flex !important ;

}
header span{
  color: white;
}

header input {
  padding: 0.4rem 1.5rem;
  border: 1px solid #22254b;
  outline: none;
  border-radius: 0.9rem;
  font-family: 'Roboto Slab', sans-serif;
  transition: all 0.2s ease;
  width: 160px;
 background-color: transparent;
 color: white;
}
/* header input ::placeholder{
  color: white;
} */
header input {
  -webkit-text-fill-color: #fff !important;
}

header input:focus{
  width: 250px;
  

}


.movie-container{
  display: flex;
  flex-wrap:wrap;
}


.movie{
  max-width: 300px;
  margin: 1rem;
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba (0,0,0,0.1);
  overflow: hidden;
  position: relative;
}


.movie img{
 max-width: 100%;
}

.movie-info{
  display: flex;
  padding:1rem;
  align-items: center;
  justify-content: space-between;
}

.movie-info h3{
  margin: 0;
  color: white;
}

.movie-info span{
  color: white;
}


.movie-over{
  background-color: white;
  color: #373b69;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(100%);
  transform:translateY(100%);
  transition: all 0.5s ease;
}

.movie:hover .movie-over{
  transform: translateX(0%);
}
